@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

input:-webkit-autofill {
  background-color: white !important;
  /* or whatever matches your design */
  color: black !important;
  /* ensure text is visible */
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  /* remove default autofill background */
  -webkit-text-fill-color: black !important;
  /* make text black */
  transition: background-color 5000s ease-in-out 0s;
  /* prevent flashing */
}